<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Carrito</title>
    <link rel="stylesheet" href="../css/productCart/productCart.css">
</head>
<body>
    <!-- Header -->


    <%- include('../partials/header') %> 


    <section class="nav-vehiculos">
        <article>
            <h3><a href="home">Home</a> / <a href="rental-cart">Carrito</a></h3>
        </article>
    </section>


    <section class="container">
        <div class="text-carrito">
            <h1>Carrito</h1>
        </div>
        <div class="carrito">
            <div class="container-vans"> 
                <form action="productDetail.ejs" method="get" class="van van-parte-seleccionar">
                    <div class="imagenes">
                        <!-- Cóom se hace para que la imagen vaya cambiando dependiendo de lo que se elija en el select? -->
                        <a href=""><img src="./images/imagenesproductos/kangoo.png" alt="Kangoo" class="imagen"></a>
                    </div>
                    
                    <div class="flexCart">
                        <label class="eleccionCarrito">Elegí la CamperVan que quieras</label>
                        <select name="camperVan" class="inputCarrito">
                            <option value="1">Renault Kangoo (2 pax)</option>
                            <option value="2">Citröen Jumpy (3 pax)</option>
                            <option value="3">Toyota Hiace (4 pax)</option>
                        </select>
                    </div>
                    <div class="flexCart">
                        <label>Elegí la CamperVan que quieras</label>
                        <input type="date" name="date" class="inputCarrito">
                    </div>
                </form>
            </div>
            <div class="resumen-de-la-compra">
                <form action="" class="van van-parte-compra">
                <div class="total">
                    <p>Total</p>
                </div>
                <div class="precio-del-resumen">
                    <p>$15000</p>
                </div>
                <div class="buttons-resumen">
                    <div class="boton-resumen">
                        <a href="product-detail"><button>Seguir comprando</button></a>
                    </div>
                    <div class="boton-resumen">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
                </form>
            </div>
        </div> 

        <!-- Mensaje Posicion absoluta -->

        <%- include('../partials/msjPosicionAbsoluta') %> 
        
    </section>



    <!-- Footer -->
    <%- include('../partials/footer') %> 
</body>
</html>