.mensaje-de-error{
    background-color: white;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0 150px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(155, 155, 155, 0.2);
}

.icon-error-container{
    width: 20%;
}

.icon-error-container i{
    font-size: 50px;
}


.no-coincidencias{
    font-size: 24px;
    font-weight: bolder;
}

.recomendaciones{
    margin: 20px 0 10px 20px;
}



