<footer>
    <div class="footerContent">
        <div class="contactUs">
            <div> 
                <img src="../../images/imagenesVariadas/logo.png" alt="Logo Argentina campers" class="logoFooter">
            </div>
            <div class="footerMailTel">
                <div class="iconosFooter">
                    <i class="fa-solid fa-envelope-open-text"></i>
                </div>
                <div class="ContenidoContacto">
                    <span>Email</span>
                    <span>info@argentinacampers.com.ar</span>
                </div>
            </div>
            <div class="footerMailTel">
                <div class="iconosFooter">
                    <i class="fa-solid fa-phone-volume"></i>
                </div>
                <div class="ContenidoContacto">
                    <span>Teléfono</span>
                    <span>Buenos Aires</span>
                    <span>+54 011 5418-7697</span>
                </div>
            </div>
            <div class="footerRedes">
                <div class="seguinos">
                    Nuestras redes
                </div>
                <div class="nuestrasRedes">
                    <div>
                        <div class="fb">
                            <a href="https://www.facebook.com/argentinacampers">
                                <i class="fa-brands fa-facebook-square"></i>
                            </a>
                        </div>
                        <div class="ig">
                            <a href="https://www.instagram.com/argentinacampers_/">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                        <div class="yt">
                            <a href="https://www.youtube.com/argentinacampers">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
           </div>
       </div>
       <div class="footerList footerList1">
            <h4>Empresa</h4>
            <ul>
                <li><a href="/aboutUs">Sobre nosotros</a></li>
                <li><a href="/products">Nuestras CamperVans</a></li>
                <li><a href="">Políticas de entrega</a></li>
                <li><a href="#">Políticas de renta</a></li>
                <li><a href="/aboutUs">Blog viajero</a></li>
            </ul>
        </div>
        <div class="footerList footerList2">
            <h4>Nuestras CamperVans</h4>
            <ul>
                <li><a href="/products/1">Renault Kangoo</a></li>
                <li><a href="/products/2">Citröen Jumpy</a></li>
                <li><a href="/products/3">Toyota Hiace</a></li>
            </ul>
        </div>
        <div class="footerList footerList3">
            <h4>Support</h4>
            <ul>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
                <li><a href="/aboutUs">Preguntas frecuentes</a></li>
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/aboutUs">Dejar mi comentario</a></li>
            </ul>
        </div>
    </div>
</footer>

